{% extends "layout.html" %}

{% block title %}createPost{% endblock %}

{% block content %}
  <h1>Make A Post</h1>

<p>Enter in the required information below.</p>

<form action="/postCreated" method="POST">
  <label for="player">Which player would you like to post about?</label>
  <input type="text" id="player" name="player"><br><br>
  <label for="desc">What are your thoughts? </label>
  <input type="text" id="desc" name="desc"><br><br>
  <input type="submit" value="Submit">
</form>


{% endblock %}
